<h1>Eat-Da-Burger!</h1>

<h2>Choose a Burger</h2>
<ul>
    {{#each burger}}
    {{#unless this.devoured}}
    <li>
        {{this.name}}

        <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit">DEVOUR!</button>
        </form>

        {{> burger/delete-burger}}
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burger/create" method="POST">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="slee">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Ready to be Eaten . .
    </div>

    <button type="submit">Add Burger</button>
</form>