<div class="jumbotron"></div>

<h1>Eat-Da-Burger!</h1>

<p> Choose a burger from the list, or be inventive, create your own</p>


<h2>Choose a Burger</h2>

<div class="row">
<div class="col-sm-6">
<div class="panel panel-default">
<div class="panel-heading" id="lefthead"><strong>Burger Menu</strong>
</div>
<div class="panel-body">

<ul>
 {{#each burger}}
    {{#unless this.devoured}}
<li>
 {{this.name}}

<form action="burger/update/{{this.id}}?_method=PUT" method="POST">
<input type="hidden" name="devoured" value="true">
<button type="submit">DEVOUR!</button>
</form>
 {{> burger/delete-burger}}
                    
</li>
{{/unless}}
{{/each}}
</ul>

<h2>what Burger would you like to make?</h2>

<form class="create-update-form" action="burger/create" method="POST">

<div class="form-group">
<label for="ca">Burger Name:</label>
<input type="text" id="ca" name="name">
</div>



<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><strong>Devoured Burgers</strong></div>
         <div class="panel-body">

<ul>
 {{#each burger}}
    {{#unless this.devoured}}
<li>
 {{this.name}}
<div class="form-group"><label for="slee">Devoured?</label><br>
<input type="radio" name="devoured" value="1" checked> Devoured!<br>
<input type="radio" name="devoured" value="0"> Ready to be Eaten . .
</div>
{{> burger/delete-burger}}
                    
</li>
{{/if}}
{{/each}}
</ul>

<button type="submit">Add Burger</button>
</form>